$primary: #ECE6D7 !default;
$secondary: #E73828 !default;
$dark: #2E2624 !default;
$aa: #EBCD7C;
$bb: #6E6B62;
$cc: #CBC6A8;
$dd: #AEAA9E;
$ee: #ECDCC9;
$gray2: #E0DAC8;
//麵包屑
$breadcrumb-divider: quote("｜");
$breadcrumb-active-color: $secondary;

//ol .list-group-numbered
.list-group-numbered>li::before {
  content: counters(section, ".") ". ";
  counter-increment: section;
}

@import "./bootstrap/bootstrap";

@font-face {
  font-family: "GJJ_R";
  src: url("../webfonts/GenJyuuGothic/GenJyuuGothic-Regular.woff2") format("woff"),
    url('../webfonts/GenJyuuGothic/GenJyuuGothic-Regular.woff') format('woff');
}

@font-face {
  font-family: "GJJ_M";
  src: url('../webfonts/GenJyuuGothic/GenJyuuGothic-Medium.woff2') format('woff2'),
    url('../webfonts/GenJyuuGothic/GenJyuuGothic-Medium.woff') format('woff');
}

@font-face {
  font-family: "GJJ_B";
  src: url('../webfonts/GenJyuuGothic/GenJyuuGothic-Bold.woff2') format('woff2'),
    url('../webfonts/GenJyuuGothic/GenJyuuGothic-Bold.woff') format('woff');
}

@font-face {
  font-family: "GJJ2";
  src: url('../webfonts/GenJyuuGothic/DFYuan-Md-HKP-BF.woff2') format('woff2'),
    url('../webfonts/GenJyuuGothic/DFYuan-Md-HKP-BF.woff') format('woff');
}

body {
  font-size: 18px;
  position: relative;
  font-family: "GJJ_M", "GJJ2";
  color: $dark;
  width: 100%;
  overflow-x: hidden;
  // width: 640px;
  // max-width: 100%;
  // margin: 0 auto;
}

.text-danger {
  color: tomato !important;
}


main {
  min-height: calc(100vh - 134px);
}

a {
  text-decoration: none;
}

h4,
.h4 {
  font-size: calc(1.275em);
}

header {
  background-color: $primary;

  .container {
    flex-wrap: nowrap;
    position: relative;
  }

  .navbar {
    padding: 10px 0;
  }

  img {
    width: 140px;
    flex: 0 0 auto;
  }

  p {
    margin-top: auto;
    margin-bottom: 0;
    font-size: 16px;
    margin-left: auto;
    flex: 1 0 0%;
    text-align: end;
  }
}

.red-link {
  display: block;
  margin-bottom: 2px;

  a {
    position: relative;
    color: $secondary;

    &:hover {
      color: $secondary;

    }

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      bottom: -1px;
      position: absolute;
      background-color: $secondary;
      left: 0;
    }
  }

}

.topLinkBox {
  padding: 2rem 0;
  text-align: center;

  .btn-primary:nth-child(3) {
    font-family: "GJJ_B";
  }

  .btn-primary {
    border-radius: 10px;
  }
}

.btn-primary {
  background-color: $primary;
  color: $dark;
  font-family: "GJJ_B", "GJJ2";
  font-weight: bold;
  font-size: 15px !important;
  min-width: 8.4em;
  max-width: 100%;
  padding: 4px 4px;
  border-radius: 20px;
  margin: 2px;

  &:hover,
  &.active,
  &:active,
  &:focus {
    background-color: $secondary;
    color: #fff;
  }
}

.btn-lg {
  display: block;
  letter-spacing: 2px;
  padding: 10px;
  width: calc(100% - 20px);
  margin: 0 auto;
  font-size: 16px
}

.btn-lg~.btn-lg {
  margin-top: 16px;
}

@media (max-width: 350px) {
  .btn-lg.btn-primary {
    font-size: 16px !important;
  }
}

form {
  padding-bottom: 3rem;

  .row {
    padding-bottom: 16px;
    margin: 0 auto;
    font-size: 1.12em;
  }

  .col-auto {
    text-align: end;
    min-width: 7.5em;
    max-width: 100%;
  }

  .form-check-label {
    color: #000;
  }

  .col.d-flex.pe-0 .form-check:first-child {
    margin-bottom: -2px;
  }

  #reMed2 {
    margin-top: 7px;
  }

  .form-check {
    .imgBox {
      margin-left: -1.5rem;
      padding-top: 4px;

      img {
        width: 576px;
      }
    }
  }

  label.error {
    font-size: 12px;
    color: tomato;
    position: absolute;
    left: 8em;
    top: -10px;
  }

  .row {
    position: relative;
  }

  input[type="radio"]+label.error {
    position: absolute;
    top: -15px;
  }
}

.form-control {
  border-radius: 20px;
  border-color: $dark;
  box-shadow: none;
  padding: 0.3em 0.5em;

  &:active,
  &:focus {
    border: 1px solid $bb;
  }
}

input.form-control,
#reg_no {
  width: 14em;
}

.form-control:not(.form-control-sm) {
  font-size: 14px;
}

input.form-control-sm {
  display: inline-block;
  font-size: 14px;
}

footer {
  background-color: $primary;
  font-family: "GJJ_R";
  font-size: 15px;
  padding: 16px 0;
}

.week_top {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  padding-bottom: 16px;

  a {
    color: $dark;
    display: block;
    cursor: pointer;
  }
}

.table {
  border-color: rgba($dark, .8);
  font-family: "GJJ_R";

  th {
    background-color: $primary;
  }

  th,
  td {
    border-color: rgba($dark, .8);
    vertical-align: middle;
    text-align: center;
  }

  .onLink {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 54px;

    li {
      width: 100%;
      padding-bottom: 10px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    a {
      display: inline-block;
      min-width: 5.5em;
      max-width: 100%;
    }
  }

  .doctor {
    border-radius: 20px;
    border: 2px solid $dark;
    padding: 2px 6px;
    color: $dark;
  }

  .doctor_a {
    border-color: $aa;
    // color: $aa;
  }

  .doctor_b {
    border-color: $bb;
    // color: $bb;
  }

  .doctor_c {
    border-color: $cc;
    // color: $cc;
  }

  .doctor_d {
    border-color: $dd;
    // color: $dd;
  }

  .doctor_e {
    border-color: $ee;
    // color: $ee;
  }
}

.pc-table {
  tbody {
    td {
      width: 15%;
    }
  }
}

.mobile-table {
  text-align: center;

  tbody th {
    background-color: $primary;
    height: 150px;
  }
}

/* table用flex*/
.mobile-table table {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba($dark, .8);
  border-bottom: 1px solid rgba($dark, .8);

  th,
  td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  thead {
    tr {
      display: flex;
      border-bottom: 0px;
    }

    th {
      width: 28.333%;
      border-right: 0px;

      &:first-child {
        width: 15%;
      }
    }
  }

  tbody {
    tr {
      display: flex;
      border-bottom: 0px;

      th {
        width: 15%;
        border-right: 0px;
      }
    }
  }

  td {
    width: 28.333%;
    border-right: 0px;

    &:last-child {
      border-right: 1px;
    }
  }
}

.modal-dialog {
  // font-family: "GJJ_R";
  position: absolute;
  width: 85%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  font-size: 16px;
  margin: 0;
}

.modal-content {
  border-radius: 1rem;
}

.modal-footer {
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;

  & .btn {
    min-width: 90px;
    max-width: 100%;
    color: #5480D3;
    margin: 0;
  }
}

.modal-active {
  overflow: hidden;
}

@media (min-width: 768px) {
  footer {
    br {
      display: none;
    }
  }

  form {
    .row:not(.col)>.col>.form-control {
      width: 200px;
    }

  }

  .mobile-table {
    display: none;

    tbody th {
      width: 8%;
    }
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }

  header {
    background-color: $primary;

    img {
      width: 100px;
    }

    p {
      margin-top: auto;
      margin-bottom: 0;
      font-size: 12px;
      transform-origin: right;
    }
  }

  footer {
    font-size: 12px;
    padding: 14px 0;
  }

  form {
    font-size: 15px;

    .row>div[class^=col] {
      padding-left: 4px;
      padding-right: 4px;
    }

    .col.d-flex {
      select.form-control {
        min-width: 30%;
        max-width: 100%;
      }

      .col.pe-sm-1 {
        padding-right: 4px;
      }
    }

    .form-control:not(.form-control-sm) {
      font-size: 12px;
    }

    input.form-control-sm {
      text-align: center;
      width: 7.5em;
      font-size: 12px;
      max-width: 100%;
      transform: scale(0.85);
      transform-origin: 0;
    }

    label.error {
      left: 7em;
    }
  }

  .pc-table {
    display: none;
  }
}

@media (max-width: 457px) {
  body {
    font-size: 15px;
  }

  header {
    p {
      font-size: 12px;
      transform: scale(.8);
    }
  }

  form {
    font-size: 13px;

    .row>div[class^=col] {
      padding: 0 2px;
    }

    .col-auto {
      min-width: 6em;
    }

    .col.d-flex {
      flex-wrap: wrap;

      .col {
        padding-bottom: 4px;
      }
    }

    label.error {
      left: 4.5em;
      top: -13px
    }
  }

  .topLinkBox {
    // transform:  scale(0.8);
    // transform-origin: center;
    // left: -10px;
    position: relative;
    white-space: nowrap;
  }

  .mobile-table {
    font-size: 12px;
  }

  .btn-primary {
    font-size: 12px !important;
  }
}

@media (max-width: 350px) {
  .btn-primary {
    min-width: 7em;
  }

}

@media (min-width: 400px) {
  .row.custom {
    align-items: center;
  }

  form {
    .form-check.ms-sm-auto.me-sm-0 {
      margin-left: 24px;
      margin-right: 0;
    }
  }
}

@media (max-width: 300px) {
  form {
    .col.d-flex {
      .col {
        flex: 100%;
      }

      select {
        width: 100%;
      }

      .col.pe-sm-1 {
        padding-right: 0px;
      }
    }
  }

  .topLinkBox {
    white-space: initial;
  }

  .modal-dialog {
    width: 95%;
  }
}